extends layout

block content
  h1 Galvanize Reads
  div.indexMenu
    a(href="/authors")
     img(id="bigboy" src="https://s3-us-west-2.amazonaws.com/testphotosnoobish/viewauth.png")
    a(href="/books")
     img(id="bigboy" src="https://s3-us-west-2.amazonaws.com/testphotosnoobish/viewbooks.png")
      

  
