extends ../layout

block content
  h1 books
    each book in books
      h2 
        a(href="/books/#{book.id}") 
      img(src="#{book.bookImg}")
      p.authBio #{book.description}

      
      
  
