extends ../layout

block content
  h1 authors Edit
  form(action="/authors/#{authors.id}" method="POST")
    input(type="text" placeholder="Author First Name" name="authorFirst" value="#{authors.authorFirst}")
    input(type="text" placeholder="Author Last Name" name="authorSecond" value="#{authors.authorSecond}")
    //- textarea(type="text" placeholder="Author Bio" name="authorBio" vlue)
    //- input(type="text" placeholder="Author Image URL" name="authorImg")
    input(id="submit" type="submit")
