extends ../layout

block content
  h1 Galvanize Reads
  div.sidemenu
    div.bookCreate
  div.resultsHolder
    each author in authors
      div.bookHolder
        div.cover
          img(id="coverHead" src="#{author.authorImg}")
        div.info
          a(id="reftitle" href="/authors/#{author.id}") #{author.authorFirst} #{author.authorSecond}


      
    
    
