extends ../layout

block content
  h1 authors new
  form(action="/authors" method="Post")
    input(type="text" placeholder="Author First Name" name="authorFirst")
    input(type="text" placeholder="Author Last Name" name="authorSecond")
    textarea(type="text" placeholder="Author Bio" name="authorBio")
    input(type="text" placeholder="Author Image URL" name="authorImg")
    input(id="submit" type="submit")


    
  



















//- value=info ? info.name: ''
