body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #00B7FF;
}

.bookBrowse{
  height: 400px;
  width: 550px;
  background-color: #2E4076;
  margin: 10px
}

.authorBrowse{
  height: 400px;
  width: 550px;
  background-color: #4466D2;
  margin: 10px;
}

.frontMenu{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
  top: 250px;
}

.sidemenu{
  position: absolute;
  height: 80%;
  width: 160px;
  background-color: blue;
  margin-right: 10px;
}
.resultsHolder{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 85vh;
  background-color: pink;
  left: 25%;
  overflow-y: scroll;
  margin-left: 10px;

}
.bookHolder{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 300px;
  width:900px;
  overflow: hidden;
  padding: 25px;
  background-color: white;
  margin: 20px;

}

.info{
  margin-left: 15px;
}
#reftitle{
  position: relative;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  right: 0px;
  width: 50px;
  height: 50px;
}
#genre{
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  right: 0px;
  width: 20px;
  height: 20px;
}
#cover{
  height: 175px;
  width: 120px;
}
.authorBox{
  margin-right: 150px;
  width: 200px;
}
